@model DAL.UserInfo
@{
    ViewBag.Title = "AdminLogin";

}

<h2>Admin Login</h2>
<div>
    @using (Html.BeginForm("ValidateAdmin", "Common", FormMethod.Post))
    {
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.Label("Email:")
                @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
            </div>
            <div>
                @Html.Label("Password:")
                @Html.PasswordFor(m => m.Password, new { Class = "form-control" })
            </div>
            <input type="submit" value="Login" class="btn btn-danger" />
        </div>
        <div>
            @{
                if (ViewBag.error != null)
                {
                    <p class="text-danger">@ViewBag.error</p>
                }
            }
        </div>
    </div>
  
    }
</div>
